* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

.page__content {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.page__content a {
    margin: 5px 0;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.3s both;
}

.modal-wrapper {
    overflow: auto;
    width: 600px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    background-color: #FFF;
}

.modal[aria-hidden="true"] {
    animation-name: fadeOut; /* Change only the animation but keep the other settings */

    /* 
    We can't just change the animation direction to be reversed because the animation won't be played again.
    If we want to to it this way we have to trick the navigator to rerender the modal in JS.
    for example:
    - change the modal display to none
    - ask for the modal offsetWidth
    - chande the modal display to null 

    we can then use animation-direction: reverse;
    */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}